
@{
    ViewBag.Title = "Sources";
}

<h2>Sources</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>S.No.</th>
            <th>Description</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>MINISTRY OF HEALTH & FAMILY WELFARE</td>
            <td><a href="https://www.mohfw.gov.in/">https://www.mohfw.gov.in/</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Wikipedia</td>
            <td><a href="https://en.wikipedia.org/wiki/2020_coronavirus_pandemic_in_India">https://en.wikipedia.org/wiki/2020_coronavirus_pandemic_in_India</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>The Hindu</td>
            <td>https://www.thehindu.com/</td>
        </tr>
    </tbody>
</table>
