@using FightCorona.Models
@using FightCorona.Localization

@model  FightCorona.Models.DashboardData

@{
    ViewBag.Title = "Coronavirus State Dashboard";
    ViewBag.Source = " Ministry of Health and Family Welfare - Government of India";
    ViewBag.SourceReferenceLink = "https://www.mohfw.gov.in/";
    ViewBag.LastUpdated = Model.LastUpdated.ToString("dd.MM.yyyy") + " at " + Model.LastUpdated.ToString("hh:mm tt");
}

<div class="dashboard">
    <br />
    @Html.Partial("_DashboardPanel", Model.PanelData)
    <br />
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_DashboardTable", Model.TableData)
        </div>
    </div>
</div>

